* {
	margin: 1rem;	
}

body {
	background-color: rgb(220, 223, 241);
	font-size: 20px;
}

h1 {
	border-bottom: 10px dotted green;
	padding: 1rem;
}

img {
	display: block;
	height: 500px;
	width: 500px;
	margin: auto;
	padding: 2rem;
}